In [1]:
# Dependencies and Setup 
import pandas as pd
import os
import sys

# define current date string to append to the names of output files...
import datetime  
def _getToday(): return datetime.date.today().strftime("%Y%m%d")

In [2]:
# Define path to csv file 
cities_file=os.path.join('.','resources','cities.csv') 
cities_file

'.\\resources\\cities.csv'

In [3]:
# Read in csv file and convert to dataframe 
# Read file and define it as 'file_cities'
file_cities=pd.read_csv(cities_file) 

# Create dataframe
cities_df=pd.DataFrame(file_cities)

# Columns to display in dataframe.
cities_df=cities_df[["City_ID","Weather City", "Country", "Latitude", "Longitude", "Date", "Cloudiness", "Humidity", "Max Temperature", "Wind Speed"]] 

# Display dataframe output
cities_df.head()

,City_ID,Weather City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,Max Temperature,Wind Speed
0,0,douentza,ML,15.00,-2.95,1587251998,91,21,84.24,2.21
1,1,boca do acre,IT,45.68,8.41,1587251998,61,76,57.00,0.25
2,2,flinders,AU,-34.58,150.86,1587251998,49,65,64.00,7.00
3,3,akureyri,IS,65.68,-18.09,1587251998,75,70,46.40,34.45
4,4,yarada,IN,17.65,83.27,1587251998,0,80,80.85,11.34

In [4]:
# output data fram to html format copy to data backup versions folder
cities_df.to_html('./versions/data_source_cities_html_backup/cities.html', index=False)

In [5]:
# output data fram to html format copy to resources folder for backup versioning
cities_df.to_html('./resources/cities.html', index=False)

In [6]:
# output data fram to html format - production use data
cities_df.to_html('./cities.html', index=False)

In [7]:
## EOF ##